<%- include("header") -%>
<h3>
    <br>
    <br>
    <br>
    This is an amazing To-do list made by Srijan Gupta
    <br>
    <br>
    You can add on your daily tasks and can mark them out as you complete them.
    <br>
    <br>
    The header and footer pages have been implemented by the concept of templating.
</h3>


<%- include("footer") -%>