<%- include("header") -%>
    <br>
    <br>
    <div class="box" id="heading">
    <h1><%= dayval %></h1>
    </div>
 <!-- <%  if(dayval==="Saturday" || dayval==="Sunday"){ %>
        <h1 style="color: blue;">Enjoy!!!</h1>
  <%  }else{ %>
        <h1 style="color: red;">You've got to work</h1>
   <% } %> -->
   <div class="box">
      <%  for(var i=0;i<newit.length;++i) { %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newit[i] %> </p> 
        </div>
       <% }  %>
       <form class="item" action="/" method="post">
        <input type="text" name="item" placeholder="New Task" autocomplete="off">
        <button type="submit" name="button">+</button>
       </form>
   </div>
   <%- include("footer") -%>